@model Project_OOP.Entity.Customer
@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Add Customer Page</h1>

<form method="post">
    @Html.Label("Customer Name")
    @Html.TextBoxFor(x=>x.CustomerName, new { @class ="form-control" })
    <br />
    @Html.Label("Customer City")
    @Html.TextBoxFor(x => x.CustomerCity, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Save Customer</button>
</form>

